/*======
natechangdesign.com css styles

Colors
	--light-salmon: #fab192; hero
	--dark-pink: #f4717e; links
	--rosy-pink: #FFCCCC; about
	--navy: #2B5165; accent
	--green-navy: #1F7984
	--blue-dark: #194872
	--dark grey: #4a4a4a; type
	--white: #fff;
	--black: #000;

font-family: 'Lora', serif;
	weight: 400, 400i, 700
font-family: 'Roboto', sans-serif;
	weight: 400, 400i, 300, 300i
=======*/

/**General**/
body{
	background: #fff;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	line-height: 1.3;
	color: #4a4a4a;
}
.container {
	width: 90%;
	margin: 0 auto;
}

/* Text styles */
h1, h2, h3, h4, h5 {
	font-family: 'Lora';
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 40px;
	color: #4a4a4a;
}
.h-2-quote {
	font-size: 32px;
	color: #4a4a4a;
}
h3 {
	font-size: 32px;
	color: #4a4a4a;
}
h4 {
	font-size: 26px;
	color: #4a4a4a;
}
h5 {
	font-size: 20px;
	color: #4a4a4a;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
}
a{
	
	text-decoration: none;
	color: #f4717e;
	-webkit-transition-duration: 0.4s; 
	-moz-transition-duration: 0.4s; 
	-o-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}
a:hover {
	color: #194872;
}
.li-resume{
	font-size: 16px;
}
.navtype {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	color: #4a4a4a;
}
.button {
	display: block;
	width: 20vw;
	font-size: 20px; 
	font-weight: 300;
	text-align: center;
	padding: 20px 45px;
	border-radius: 3px;
	border: solid 1.5px #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-transition-duration: 0.4s; 
	-moz-transition-duration: 0.4s; 
	-o-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}
.button:hover{
	color: #fff;
	background: rgba(25, 72, 114, 1.0);
	border: solid 1.5px #fff; 
}
/* utility*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.u-inlineblock {
	display: inline-block;
}
.u-block{
	display: block;
}
.u-center{
	margin: auto;
}
.u-flexstart{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.u-white{
	color: #fff;
}
.u-quote {
	font-style: italic;
}
.u-open {
	font-family: 'Roboto', 'OpenSans', sans-serif;
}
.u-indent{
	margin-left: 60px;
}
.u-uppercase{
	text-transform: uppercase;
}
.u-100pad-top {
	padding-top: 100px;
}
.u-40pad-top {
	padding-top: 40px;
}
.u-20pad-bottom{
	padding-bottom: 20px;
}
.u-40pad-bottom{
	padding-bottom: 40px;
}
.u-40margin-top {
	margin-top: 40px;
}
.u-60per {
	width: 60%;
}
.u-80per {
	width: 80%;
}
.u-300{
	font-weight: 300;
}
/* header */
header {
	text-align: center;
	margin: 0 auto;
	min-height: 730px;/* change for mobile*/
	background: #fab192;
}
.hero{
	height: 100vh;
	position: relative;
	background: #fab192;
	padding-bottom: 40px;
}
.herocontent {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.hero-logo {
	width: 140px;
	height: 140px;
}
.logo {
	/*background: rgba(25, 72, 114, 1.0);*//*blue background*/
	-webkit-transition-duration: 0.6s; 
	-moz-transition-duration: 0.6s; 
	-o-transition-duration: 0.6s; 
    transition-duration: 0.6s;
}
.logo:hover {
	background: rgba(255, 255, 255, 0.3);
}
.herotext {
	margin-top: 5vh;
}
.herocta{
	display: inline-block;
	margin: 5vh auto 0;
}
#nav {
	position: fixed;
	top:0;
	width: 100vw;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.9);
	height:46px;
	z-index:9999;
	display: none;
}
.nav_menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: flex-end;
	margin-top: 12px;
}
.navlogo{
	float: left;
}
.navlogo .logo{
	background: rgba(25, 72, 114, 1.0);
	margin-left: 20px;
	margin-top: 1px;
	height: 44px;
	width: 44px;
}
.navlink {
	display: inline-block;
	padding: 0px 20px;
	font-size: 18px;
}
.navlink:last-child {
	padding-right: 10vw;
}
.navlink a{
	padding-bottom: 5px;
}
.navlink a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 0;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #194872;
	color: #194872;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.navlink a:hover::before, .navlink a:focus::before {
	max-width: 100%;
}
#scrollarrow {
	position: absolute;
	height: 100px;
	width: 30px;
	bottom: 24px;
	left: 0;
	right: 0;
}
/* work */
.worksection {
	background: #EAF6FA;
}
.card {
	position: relative;
	margin-top: 40px;
}
.tooltip {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	height: 480px;
	width: 760px;
}
.tooltip h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.tooltip: hover, .tooltip h3 {
	visibility: visible;
}
.card-img {
	float: left;
}
.card-title {
	position: absolute;
	top: 30px;
	left: 0px;
	padding: 40px 50px 30px;
}
.card-caption {
	position: absolute;
	bottom: 30px;
	left: 35px;
	padding: 40px;
	/*border: solid 2px #fff;*/
	background: rgba(255, 255, 255, 0.2);
}
figcaption {
	max-width: 500px;
}
/* about */
.aboutsection {
	background: #FFCCCC;
}
.bio {
	vertical-align: text-top;
}
.aboutpic {
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 250px;
	height: 350px;
	margin: 0 20px 10px 0;
}
.aboutpic img {
	width: 250px;
	height: 350px;
}
.aboutpichover {
	position: absolute;
	z-index: 999;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.aboutpichover:hover {
	opacity: 1;
}
.aboutpichover:active {
	opacity: 1;
}
.linklist {
	margin-top: 15px;
}
.linklist li{
	display: inline;
	margin: 0 10px;
}
.resume-column {
	display: inline-block;
	vertical-align: text-top;
	width: 220px;
	margin-top: 20px;
	margin-right: 3%;
	padding-bottom: 20px;
}
.resume-column-short {
	display: inline-block;
	vertical-align: text-top;
	width: 100px;
	margin-top: 20px;
	margin-right: 3%;
	padding-bottom: 20px;
}
.resume-column h4 {
	padding-bottom: 10px;
}
.resumebutton {
	margin-top: 100px;
}
/*footer*/
footer {
	background: #194872;
	height: 100px;
}

/** Responsivable tings **/
/*Narrow Desktop*/
@media (max-width: 1024px) {
	.resumebutton {
	margin-top: 60px;
	}
}
/*Tablet 800px width*/
@media (max-width: 875px){
	/* Text styles */
	h1, h2, h3, h4, h5 {
		font-family: 'Lora';
	}
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 40px;
		color: #4a4a4a;
	}
	.h-2-quote {
		font-size: 32px;
		color: #4a4a4a;
	}
	h3 {
		font-size: 32px;
		color: #4a4a4a;
	}
	h4 {
		font-size: 24px;
		color: #4a4a4a;
	}
	h5 {
		font-size: 20px;
		color: #4a4a4a;
	}
	h6 {
		font-size: 18px;
	}
	p {
		font-weight: 300;
		font-size: 16px;
	}
	.button {
		font-size: 24px;
	}
	/*.li-resume {
		font-size: 16px;
	}*/
	.u-60per {
		width: 85%;
	}
	.u-80per {
		width: 90%;
	}
	.r-center {
		margin: 0 auto;
	}
	.nav_menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.aboutpic {
	position: relative;
	display: inline;
	width: 250px;
	height: 350px;
	margin: 10px auto;
	}
	.aboutpic img {
		margin: 0 auto;
	}
	.resume-column {
	display: inline-block;
	width: 220px
	margin-top: 20px;
	margin-right: 3%;
	padding-bottom: 20px;
	}
}










